
 <%= stylesheet_link_tag "service_orders" %>

<%= form_with(**form_url_options(service_order).merge(model: service_order, local: true)) do |form| %>
  <% if service_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_order.errors.count, "error") %> prohibited this service_order from being saved:</h2>

      <ul>
      <% service_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box-form">
 <hr>
   <div class="line1">
     Pieņemšanas datums:
     <%= form.date_field(:date, class:"form-date") %>
   </div>  
  Pieņemšanas vieta: <%= form.select(:location, ['Ausekļa iela 9'], class:("form-loc"))%>
  <%= form.fields_for("client", service_order.client) do |client_form| %>
    <div class="line1">
      Klienta vārds: <%= client_form.text_field(:first_name, class:"form-first-name") %>
    </div>
    Klienta uzvārds: <%= client_form.text_field(:last_name, class:"form-last-name") %>
    <div class="line1">
      Klienta tālruņa numura prefikss: <%= client_form.text_field(:phone_prefix, class:"form-prefix") %>
    </div>
    Klienta tālruņa numurs: <%= client_form.text_field(:phone_number, class:"form-phone-number") %>
    <div class="line1">
      Klienta epasts: <%= client_form.text_field(:email, class:"form-email") %>
    </div>
    <% end %>
  
  Iekārtas veids: <%= form.text_field(:device_name, class:"form-device-name") %>
  <div class="line1">
    Parole: <%= form.text_field(:device_password, class:"form-device-password") %>
  </div>
  <%# <label class="container"> %>
      Garantija: <%= form.check_box(:device_warranty, class:"form-checkbox") %>
  <%# </label>     %>
  <div class="line1">
    Papildaprīkojums: <%= form.text_field(:device_extras, class:"form-device-extras")%>
  </div>
  Saglabājamā informācija: <%= form.text_field(:device_saveable_info, class:"form-device-saveable-info")%>
  <div class="line1">
    Defekts: <%= form.text_field(:device_defect, class:"form-device-defect")%>
  </div>
  Papildus info: <%= form.text_field(:device_additional_info, class:"form-device-additional-info")%>
  <div class="actions">
  <div class="form-button">
    <%= form.submit%>
  </div>  
  </div>
</div>  

<% end %>


