<%= form_with(**form_url_options(service_order).merge(model: service_order, local: true)) do |form| %>
  <% if service_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_order.errors.count, "error") %> prohibited this service_order from being saved:</h2>

      <ul>
      <% service_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <hr>
  Pieņemšanas datums: <%= form.date_field(:date) %>
  <br>

  Pieņemšanas vieta: <%= form.select(:location, ['Ausekļa iela 9'])%>
  <br>

  <%= form.fields_for("client", service_order.client) do |client_form| %>
    Klienta vārds: <%= client_form.text_field(:first_name) %>
    <br>
    Klienta uzvārds: <%= client_form.text_field(:last_name) %>
    <br>
    Klienta tālruņa numura prefikss: <%= client_form.text_field(:phone_prefix) %>
    <br>
    Klienta tālruņa numurs: <%= client_form.text_field(:phone_number) %>
    <br>
    Klienta epasts: <%= client_form.text_field(:email) %>
    <br>
  <% end %>

  Iekārtas veids: <%= form.text_field(:device_name) %>
  <br>

  Parole: <%= form.text_field(:device_password) %>
  <br>

  Garantija: <%= form.check_box(:device_warranty) %>
  <br>

  Papildaprīkojums: <%= form.text_field(:device_extras)%>
  <br>

  Saglabājamā informācija: <%= form.text_field(:device_saveable_info)%>
  <br>

  Defekts: <%= form.text_field(:device_defect)%>
  <br>

  Papildus info: <%= form.text_field(:device_additional_info)%>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>


