<div class="header">
    <%= link_to 'Service Orders', service_orders_path, class:"header-option"%>
    <%= link_to 'Repair Tasks', repair_tasks_path, class:"header-option"%>
 </div> 

<%= render 'form', service_order: @service_order %>

<%= link_to 'Show', @service_order %> |
<%= link_to 'Back', service_orders_path %>
