<head>
 <p id="notice"><%= notice %></p>
 <%= stylesheet_link_tag "service_orders" %>
</head>
<body>
<div class="header">
    <%= link_to 'Service Orders', service_orders_path, class:"header-option"%>
    <%= link_to 'Repair Tasks', repair_tasks_path, class:"header-option"%>
 </div> 
 <div class="show-box">
  <div class="show-table">
    <table>
      <tr>
        <th> Pasūtijuma numurs </th>
        <th> Pieņemšanas datums </th>
        <th> Iekārtas veids </th>
        <th> Parole </th>
        <th> </th>
        <th> Garantija </th>
        <th> Papildaprīkojums </th>
        <th> Saglabājamā info </th>
        <th> Defekts </th>
        <th> Papildus info </th>
      </tr>
      <tr>
        <td> <%= @service_order.number %> </td>
        <td> <%= @service_order.date %> </td>
        <td> <%= @service_order.location %> </td>
        <td> <%= @service_order.device_name %> </td>
        <td> <%= @service_order.device_password %> </td>
        <td> <%= @service_order.device_warranty %> </td>
        <td> <%= @service_order.device_extras %> </td>
        <td> <%= @service_order.device_saveable_info %> </td>
        <td> <%= @service_order.device_defect %> </td>
        <td> <%= @service_order.device_additional_info %> </td>
      </tr>
    </table>
  </div>
  <div class="show-button">
    <%= link_to 'Edit', edit_service_order_path(@service_order), class:"button-show" %> |
    <%= link_to 'Back', service_orders_path, class:"button-show"%>
  </div>
</div>

</body>
