<%= form_with(**form_url_options(repair_task).merge(model: repair_task, local: true)) do |form| %>
  <% if repair_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repair_task.errors.count, "error") %> prohibited this repair_task from being saved:</h2>

      <ul>
      <% repair_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  

  Meistars: <%= form.select(:repairer_id, ['1','2','3','4'])%>
  <br>

  
  Status: <%= form.text_field(:status) %>
  <br>

  Meistara Izmaksas: <%= form.text_field(:work_cost_cents) %>
  <br>

  Matre훮l훮s izmaksas: <%= form.text_field(:materials_cost_cents) %>
  <br>
  
   Matre훮l훮s izmaksas: <%= form.text_field(:materials_cost_cents) %>
  <br>


  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>


